@using Core.ViewModels.Dto.Lead
@model DynamicFormViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="py-1">
    <div>
        <!-- API Key Section -->
        <div class="form-group mb-3">
            <label class="form-label fw-bold">API Key</label>

            <div class="input-group">
                <input type="text" class="form-control" id="txtApiKey" value="@ViewBag.ApiKey" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="copyApiKey()" title="Copy API Key">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-outline-primary" type="button" onclick="generateNewApiKey()" title="Generate New API Key">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card shadow rounded-3">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">Form Configuration</h4>
                </div>
                <div class="card-body">
                    <form asp-action="DynamicForm" method="get">
                        <div class="form-group mb-3">
                            <label asp-for="BusinessId" class="form-label fw-bold"></label>
                            <select class="form-select" name="businessId" asp-items="ViewBag.BusinessId" id="drpBusinessId">
                            </select>
                        </div>
                        <hr />

                        <div class="row mt-3">
                            @if (Model.Inputs?.Count > 0)
                            {
                                foreach (var input in Model.Inputs)
                                {
                                    <div class="col-12 col-md-4 mb-3">
                                        <div class="form-check p-3 shadow-sm rounded bg-white">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="@($"chk_{input.FormDetailId}")"
                                                   @(input.IsActive ? "checked" : "") />
                                            <label class="form-check-label" for="@($"chk_{input.FormDetailId}")">
                                                @input.Label
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        <div class="mt-4 d-flex gap-2">
                            <button type="button" class="btn btn-primary" onclick="updateFormSettings()">Save</button>

                            <!-- New button to open modal -->
                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#embedCodeModal">
                                Generate Embeddable Form Code
                            </button>
                        </div>
                   </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="card shadow rounded-3">
                <div class="card-header bg-success text-white text-center">
                    <h4 class="mb-0">Lead Form</h4>
                </div>
                <div class="card-body">
                    <form id="dynamicForm" asp-action="DynamicForm" method="post" novalidate>
                        <input type="hidden" asp-for="BusinessId" id="BusinessId" />
                        <input type="hidden" id="ApiKey" name="ApiKey" />
                        @if (Model.Inputs?.Where(x => x.IsActive).Count() > 0)
                        {
                            <div class="row">
                                @for (int i = 0; i < Model.Inputs.Count; i++)
                                {
                                    @if (Model.Inputs[i].IsActive)
                                    {
                                        if (Model.Inputs[i].IsSelectInput)
                                        {
                                            <div class="col-md-12 mb-2">
                                                <label asp-for="Inputs[@i].Value" class="form-label fw-semibold">
                                                    @Model.Inputs[i].Label
                                                </label>
                                                <select asp-for="Inputs[@i].Value" class="form-select" aria-label="@Model.Inputs[i].Label">
                                                    <option value="">-- Select --</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                </select>
                                                <span asp-validation-for="Inputs[@i].Value" class="text-danger small"></span>
                                            </div>
                                        }
                                        else if (Model.Inputs[i].InputType!.Equals("textarea", StringComparison.CurrentCultureIgnoreCase))
                                        {
                                            <div class="col-md-12 mb-2">
                                                <label asp-for="Inputs[@i].Value" class="form-label fw-semibold">
                                                    @Model.Inputs[i].Label
                                                </label>
                                                <textarea asp-for="Inputs[@i].Value" rows="5" cols="5" class="form-control" placeholder="@Model.Inputs[i].Label"></textarea>
                                                <span asp-validation-for="Inputs[@i].Value" class="text-danger small"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12 mb-2">
                                                <label asp-for="Inputs[@i].Value" class="form-label fw-semibold">
                                                    @Model.Inputs[i].Label
                                                </label>
                                                <input asp-for="Inputs[@i].Value" type="@Model.Inputs[i].InputType" class="form-control" placeholder="@Model.Inputs[i].Label" />
                                                <span asp-validation-for="Inputs[@i].Value" class="text-danger small"></span>
                                            </div>
                                        }


                                        @* Hidden fields *@
                                        <input type="hidden" asp-for="Inputs[@i].FormDetailId" />
                                        @*  <input type="hidden" asp-for="Inputs[@i].Label" />
                                            <input type="hidden" asp-for="Inputs[@i].InputType" />
                                            <input type="hidden" asp-for="Inputs[@i].IsSelectInput" /> *@
                                    }

                                }
                            </div>

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-success btn-lg fw-bold">
                                    <i class="bi bi-check-circle me-2"></i> Submit
                                </button>
                            </div>
                        }
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="embedCodeModal" tabindex="-1" role="dialog" aria-labelledby="embedCodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="embedCodeModalLabel">Embeddable HTML</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div>
                        <button type="button" class="btn btn-sm btn-success" onclick="generateEmbeddableForm()">Generate</button>
                        <button type="button" class="btn btn-sm btn-primary me-2" onclick="copyEmbedCode()">Copy</button>
                        <button type="button" class="btn btn-sm btn-danger" onclick="clearEmbedCode()">Clear</button>
                    </div>
                </div>
                <textarea id="EmbedCode" class="form-control" rows="10" readonly onclick="this.select();"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/manager/lead/formvalues/dynamic-form-configure.js"></script>
}
